In [891]:
import numpy as np
import pandas as pd
from pathlib import Path

In [892]:
p = Path('.')
q = p / 'data'
q_fols = [x for x in q.iterdir() if x.is_dir()]

## paths
scaled = q_fols[0]
pwt = q_fols[1]
mpd = q_fols[2]
un =  q_fols[3]
wdi = q_fols[4]
bu = q_fols[-1]

In [893]:
## load csvs into df

country_years = pd.read_csv(list(p.glob('country_years.csv'))[0])
combined_pop_dataset = pd.read_csv(list(p.glob('combined_pop_dataset.csv'))[0]) 

## df
pwt_9_origin = pd.read_csv(list(pwt.glob('pwt_9.csv'))[0])
pwt_8_origin = pd.read_csv(list(pwt.glob('pwt_8.csv'))[0])
pwt_81_origin = pd.read_csv(list(pwt.glob('pwt_8.1.csv'))[0])
pwt_91_origin = pd.read_csv(list(pwt.glob('pwt_9.1.csv'))[0])
pwt_71_origin = pd.read_csv(list(pwt.glob('pwt_7.1.csv'))[0])
pwt_101_origin = pd.read_csv(list(pwt.glob('pwt_10.1.csv'))[0])
pwt_56_origin = pd.read_csv(list(pwt.glob('pwt_5.6.csv'))[0])
pwt_63_origin = pd.read_csv(list(pwt.glob('pwt_6.3.csv'))[0])
pwt_62_origin = pd.read_csv(list(pwt.glob('pwt_6.2.csv'))[0])
pwt_61_origin = pd.read_csv(list(pwt.glob('pwt_6.1.csv'))[0])
pwt_7_origin = pd.read_csv(list(pwt.glob('pwt_7.csv'))[0])
pwt_10_origin = pd.read_csv(list(pwt.glob('pwt_10.csv'))[0])
pwt_11_origin = pd.read_csv(list(pwt.glob('pwt_11.csv'))[0])

mpd_2010_origin = pd.read_csv(list(mpd.glob('mpd_2010.csv'))[0])
mpd_2013_origin = pd.read_csv(list(mpd.glob('mpd_2013.csv'))[0])
mpd_2018_origin = pd.read_csv(list(mpd.glob('mpd_2018.csv'))[0])
mpd_2023_origin = pd.read_csv(list(mpd.glob('mpd_2023.csv'))[0])
mpd_2020_origin = pd.read_csv(list(mpd.glob('mpd_2020.csv'))[0])

wdi_ppp2_origin = pd.read_csv(list(wdi.glob('wdi_ppp1.csv'))[0])
wdi_archive3_origin = pd.read_csv(list(wdi.glob('wdi_archive3.csv'))[0])
wdi_current_lcu_ppp1_origin = pd.read_csv(list(wdi.glob('wdi_current_lcu_ppp1.csv'))[0])

un_data_ppp_origin = pd.read_csv(list(un.glob('un_data_ppp.csv'))[0])

bu_origin = pd.read_csv(list(bu.glob('barro_ursua.csv'))[0])

sc_origin = pd.read_csv(list(scaled.glob('gdp_scaled.csv'))[0])

## copy dfs

pwt_9 = pwt_9_origin.copy()
pwt_8 = pwt_8_origin.copy()
pwt_81 = pwt_81_origin.copy()
pwt_91 = pwt_91_origin.copy()
pwt_71 = pwt_71_origin.copy()
pwt_101 = pwt_101_origin.copy()
pwt_56 = pwt_56_origin.copy()
pwt_63 = pwt_63_origin.copy()
pwt_62 = pwt_62_origin.copy()
pwt_61 = pwt_61_origin.copy()
pwt_7 = pwt_7_origin.copy()
pwt_10 = pwt_10_origin.copy()
pwt_11 = pwt_11_origin.copy()

mpd_2010 = mpd_2010_origin.copy()
mpd_2013 = mpd_2013_origin.copy()
mpd_2018 = mpd_2018_origin.copy()
mpd_2023 = mpd_2023_origin.copy()
mpd_2020 = mpd_2020_origin.copy()

wdi_ppp2 = wdi_ppp2_origin.copy()
wdi_archive3 = wdi_archive3_origin.copy()
wdi_current_lcu_ppp1 = wdi_current_lcu_ppp1_origin.copy()

un_data_ppp = un_data_ppp_origin.copy()

bu = bu_origin.copy()

sc = sc_origin.copy()

In [894]:
## name df
pwt_9.name = 'pwt_9'
pwt_8.name = 'pwt_8'
pwt_81.name = 'pwt_81'
pwt_91.name = 'pwt_91'
pwt_71.name = 'pwt_71'
pwt_101.name = 'pwt_101'
pwt_56.name = 'pwt_56'
pwt_63.name = 'pwt_63'
pwt_62.name = 'pwt_62'
pwt_61.name = 'pwt_61'
pwt_7.name = 'pwt_7'
pwt_10.name = 'pwt_10'
pwt_11.name = 'pwt_11' ## should be highest priority 

mpd_2010.name = 'mpd_2010'
mpd_2013.name = 'mpd_2013'
mpd_2018.name = 'mpd_2018'
mpd_2023.name = 'mpd_2023'
mpd_2020.name = 'mpd_2020'

wdi_ppp2.name = 'wdi_ppp2'
wdi_archive3.name = 'wdi_archive3'
wdi_current_lcu_ppp1.name = 'wdi_current_lcu_ppp1'

un_data_ppp.name = 'un_data_ppp'

bu.name = 'bu'

sc.name = 'sc'

In [895]:
## meta info

meta_dict = {
    "pwt_11": [2021, "total", "millions"],
    "pwt_101": [2017, "total", "millions"],
    "pwt_10": [2017, "total", "millions"],
    "pwt_91": [2017, "total", "millions"],
    "pwt_9": [2011, "total", "millions"],
    "pwt_81": [2005, "total", "millions"],
    "pwt_8": [2011, "total", "millions"],
    "pwt_71": [2005, "pc", "total"],
    "pwt_7": [2005, "pc", "total"],
    "pwt_63": [2005, "pc", "total"],
    "pwt_62": [2000, "pc", "total"],
    "pwt_61": [1996, "pc", "total"],
    "pwt_56": [1985, "pc", "total"],

    "mpd_2010": [1990, "pc", "total"],
    "mpd_2013": [1990, "pc", "total"],
    "mpd_2018": [2011, "pc", "total"],
    "mpd_2020": [2011, "pc", "total"],
    "mpd_2023": [2011, "pc", "total"],

    "wdi_archive3": [2011, "total", "total"],
    "wdi_ppp2": [2021, "total", "total"],
    "wdi_current_lcu_ppp1": [2010, "total", "total"],

    "un_data_ppp": [2015, "total", "total"],

    "bu": [2006, "pc", "total"],

    "sc": [2017, "total", "total"]
}

meta_df = pd.DataFrame.from_dict(meta_dict, orient="index", columns=["base_year","gdp_type","gdp_unit"])
#meta_df


## priority info

prio_dict = {
    "pwt": 1,
    "mpd": 2,
    "wdi": 3,
    "un": 4,
    "bu": 5,
    "sc": 6
}
prio_df = pd.DataFrame.from_dict(prio_dict, orient="index", columns=["priority"])
#prio_df


## version priority info

version_prio_dict = {
    "pwt_11": 1,
    "pwt_101": 2,
    "pwt_10": 3,
    "pwt_91": 4,
    "pwt_9": 4,
    "pwt_81": 5,
    "pwt_8": 6,
    "pwt_71": 7,
    "pwt_7": 8,
    "pwt_63": 9,
    "pwt_62": 10,
    "pwt_61": 11,
    "pwt_56": 12,

    "mpd_2010": 5,
    "mpd_2013": 4,
    "mpd_2018": 3,
    "mpd_2020": 2,
    "mpd_2023": 1,

    "wdi_archive3": 1,
    "wdi_ppp2": 2,
    "wdi_current_lcu_ppp1": 3,

    "un_data_ppp": 1,

    "bu": 1,

    "sc": 1

}
version_prio_df = pd.DataFrame.from_dict(version_prio_dict, orient="index", columns=["priority"])
#version_prio_df


## column names in datasets

gdp_candidates = ["gdp_2015_ppp","rgdpo","rgdp","gdp","gdp_total","gdp_usd",
                        "gdp_current","gdp_current_us","gdp_constant_2010","gdp_constant_2015"]
gdppc_candidates = ["gdppc","gdp_percap","gdp_pc","gdp_per_capita",
                        "gdp_pc_ppp",#"gdppc_2015_usd",
                        "rgdpo"]  
pop_candidates = ["pop","population","pop_total","population_total",
                        "pop_est","population_est"]


## meta list for various df

meta_list = [pwt_9, pwt_8, pwt_81, pwt_91, pwt_71, pwt_101, pwt_56, pwt_63, pwt_62, pwt_61, pwt_7, pwt_10, pwt_11, 
    mpd_2010, mpd_2013, mpd_2018, mpd_2023, mpd_2020, 
    wdi_ppp2, wdi_archive3, wdi_current_lcu_ppp1,
    un_data_ppp,
    bu,
    sc]

In [896]:
## helper functions

def df_columns(df):
    return list(df.columns)

def get_source(df):
    return df.name.split('_')[0]

def get_version(df, get_full):
    if get_full == False:
        return df.name.split('_')[1]
    elif get_full == True:
        return df.name

def get_meta(df):
    return meta_dict[get_version(df,True)]

def check_candidates(df):
    gdp_candidates_present = list(set(df.columns).intersection(set(gdp_candidates)))
    gdppc_candidates_present = list(set(df.columns).intersection(set(gdppc_candidates)))
    #pop_candidates_present = list(set(df.columns).intersection(set(pop_candidates)))

    #source = get_source(df)
    #if source == 'wdi':
    #    print('sanity check: gdppc can be null')

    if gdp_candidates_present == gdppc_candidates_present:
        #print('gdp_candidates_present')
        return gdp_candidates_present, [True, True]

    elif gdp_candidates_present != [] and gdppc_candidates_present == []:
        #print('gdp_candidates_present')
        return gdp_candidates_present, [True, False]

    elif gdp_candidates_present == [] and gdppc_candidates_present != []:
        #print('gdppc_candidates_present')
        return gdppc_candidates_present, [False, True]
  
    else:
        return ValueError 

    return gdp_candidates_present, gdppc_candidates_present #, pop_candidates_present

def check_gdp_type(df):
    df_name = df.name
    ## check meta dict
    gdp_type = meta_dict[df_name][1]

    if gdp_type == 'total':
        return True, 'total'
    elif gdp_type == 'pc':
        return False, 'pc'

def get_col_nums(df, col_lists):
    gdp_candidates_present = col_lists[0]
    gdppc_candidates_present = col_lists[1]
    pop_candidates_present = col_lists[2]

    gdp_col_loc = []
    gdppc_col_loc = []
    pop_col_loc = []

    for i in range(len(gdp_candidates_present)):
        gdp_col_loc.append(df.columns.get_loc(gdp_candidates_present[i]))

    for i in range(len(gdppc_candidates_present)):
        gdppc_col_loc.append(df.columns.get_loc(gdppc_candidates_present[i]))

    for i in range(len(pop_candidates_present)):
        pop_col_loc.append(df.columns.get_loc(pop_candidates_present[i]))
        
    return gdp_col_loc, gdppc_col_loc, pop_col_loc


def convert_relevant_column(df, convert_to):
    rel_col = check_candidates(df)[0][0]
    new_df = df.copy()
    df_name = df.name

    #new_df_name = df.name + '_converted'
    #new_df.name = new_df_name
    ## check meta_dict for column info 
    
    df_gdp_unit = meta_dict[df_name][2]

    if convert_to == df_gdp_unit:
        #print('Already in desired unit')
        return new_df, rel_col
    
    elif convert_to != df_gdp_unit:
        converted_column_name = rel_col + "_converted"
        #print(converted_column_name)
        if df_gdp_unit == 'total' and convert_to == 'millions':
            new_df[converted_column_name] = new_df[rel_col] / 1000000
        elif df_gdp_unit == 'millions' and convert_to == 'total':
            new_df[converted_column_name] = new_df[rel_col] * 1000000

    return new_df, converted_column_name

def create_standard_df(df, convert_to, version_full, drop_na_iso_nums):
    source = get_source(df)
    version = get_version(df, version_full)
    gdp_type = check_gdp_type(df)[0]
    priority = prio_dict[get_source(df)]
    base_year = get_meta(df)[0]
    #print(base_year)

    version_priority = version_prio_dict[get_version(df, True)]

    #base_year,gdp_type,gdp_unit = get_meta(df)
        
    #df_name = df.name

    new_df, rel_col = convert_relevant_column(df, convert_to)

    new_df = new_df.replace(',','',regex=True) ## remove any errant commas
    
    if drop_na_iso_nums == True:
        new_df = new_df[~new_df['iso_num'].isnull()]
        new_df['iso_num'] = new_df['iso_num'].astype('int')
    

    #new_df_name = df.name + '_standardised'

    #new_df.name = new_df_name

    
    standardised_column_names = ['iso_num', 'country', 'year', 'iso_num+year','base_year']
    standardised_column_names.append(rel_col)
    #print(standardised_column_names)

    new_df['iso_num+year'] = new_df['iso_num'].astype('str') + '_' + new_df['year'].astype('str') 
    new_df['base_year'] = base_year

    new_df = new_df[standardised_column_names]
    #print(gdp_type)
    #print(new_df.columns)
    if gdp_type == True:
        #if standardised_column_names[-1] in gdp_candidates:
        new_df.rename(columns={standardised_column_names[-1]:'gdp'},inplace=True)
        #new_df['gdp'] = new_df['gdp'].astype('int')
        #if drop_na_relevant_data == True:
        #    new_df = new_df[~(new_df['gdp'].isnull())]
        #else:
        #    print('oops')
    elif gdp_type == False:
        #if standardised_column_names[-1] in gdppc_candidates:
        new_df.rename(columns={standardised_column_names[-1]:'gdppc'},inplace=True)
        #new_df['gdppc'] = new_df['gdppc'].astype('int')
        #if drop_na_relevant_data == True:
        #    new_df = new_df[~(new_df['gdppc'].isnull())]
        #else:
        #   print('oops')

    
    
    new_df['source'] = source
    new_df['source_prio'] = priority
    new_df['version'] = version
    new_df['version_prio'] = version_priority

    new_df['priority_check'] = new_df['iso_num'].astype('str') + '_' + new_df['year'].astype('str') + '_' + new_df['source_prio'].astype('str')  + '_' + new_df['version_prio'].astype('str') 

    
    #new_df['base_year'] = base_year

    #new_df_name = df.name + '_standardised'

    #new_df.name = new_df_name
    #print(new_df.columns)

    #if drop_na_iso_nums == True:
        #new_df = new_df[~new_df['iso_num'].isnull()]

    # if incl_pop_data == True:
    #     trunc_combined_pop_dataset = combined_pop_dataset[['iso_num','year','country','pop']]
    #     trunc_combined_pop_dataset['pop_source'] = 'combined_pop_data_set'
    #     #trunc_combined_pop_dataset['iso_num+year'] = trunc_combined_pop_dataset['iso_num'].astype('str') + '_' + trunc_combined_pop_dataset['year'].astype('str') 
    #     new_df = pd.merge(new_df, trunc_combined_pop_dataset, on=['iso_num','year'], how='left')

    # if calculate_missing_gdp_or_gdppc == True:
    #     if gdp_type == True:
    #         new_df['gdppc'] = np.NaN
    #         new_df['gdppc'].fillna(new_df['gdp']/new_df['pop'],inplace = True)
    #     elif gdp_type == False:
    #         new_df['gdp'] = np.NaN
    #         new_df['gdp'].fillna(new_df['gdppc']*new_df['pop'],inplace = True)

    return new_df # source, version, new_df.name

def create_combined_df(convert_to, version_full, with_pop, drop_na_iso_nums,calculate_missing_gdp_and_gdppc,mark_duplicates):
    standardised_df_list = []
    for df in meta_list:
        #print(df.name)
        standardised_df_list.append(create_standard_df(df,convert_to,version_full,drop_na_iso_nums))

    combined_df = pd.concat(standardised_df_list)
    combined_df = combined_df.replace(',','',regex=True) ## remove any errant commas

    if with_pop == True:
        combined_df = merge_with_population(combined_df)

    if drop_na_iso_nums == True:
        combined_df = combined_df[~combined_df['iso_num'].isnull()]

    if calculate_missing_gdp_and_gdppc == True:
        combined_df = calculate_gdp_and_gdppc(combined_df)
    
    #if drop_na_gdppc == True:
    #    combined_df = combined_df[~combined_df['gdppc'].isnull()]
    
    #if drop_na_gdp == True:
    #    combined_df = combined_df[~combined_df['gdp'].isnull()]

    if mark_duplicates == True:
        combined_df = check_duplicates(combined_df)

    return combined_df

def merge_with_population(df):
    trunc_combined_pop_dataset = combined_pop_dataset[['iso_num','year','country','pop']]
    trunc_combined_pop_dataset['pop_source'] = 'combined_pop_data_set'
    #trunc_combined_pop_dataset['iso_num+year'] = trunc_combined_pop_dataset['iso_num'].astype('str') + '_' + trunc_combined_pop_dataset['year'].astype('str') 
    with_population = pd.merge(trunc_combined_pop_dataset,df, on=['iso_num','year'], how='outer')

    #with_population = with_population
    
    return with_population

def calculate_gdp_and_gdppc(df):
    calculate_gdppc = df[~(df['gdp'].isnull()) & ((df['gdppc'].isnull())) & ~(df['pop'].isnull())]
    calculate_gdp = df[(df['gdp'].isnull()) & ~((df['gdppc'].isnull())) & ~(df['pop'].isnull())]

    no_calc_100 = df[~(df['gdp'].isnull()) & ((df['gdppc'].isnull())) & (df['pop'].isnull())]
    no_calc_010 = df[(df['gdp'].isnull()) & ~((df['gdppc'].isnull())) & (df['pop'].isnull())]
    no_calc_001 = df[(df['gdp'].isnull()) & ((df['gdppc'].isnull())) & ~(df['pop'].isnull())]
    no_calc_000 = df[(df['gdp'].isnull()) & ((df['gdppc'].isnull())) & (df['pop'].isnull())]

    calculate_gdppc['gdppc'].fillna(calculate_gdppc['gdp']/calculate_gdppc['pop'],inplace = True)
    calculate_gdp['gdp'].fillna(calculate_gdp['gdppc'].astype('int')*calculate_gdp['pop'], inplace = True)

    calculated_df = pd.concat([calculate_gdppc,calculate_gdp,no_calc_100,no_calc_010,no_calc_001,no_calc_000])
    calculated_df = calculated_df.reset_index(drop=True)
    return calculated_df

def check_duplicates(df):
    temp_df = df.copy()
    temp_df['duplicate_row'] = df.duplicated(['iso_num','year'],keep=False)
    
    return temp_df

def show_duplicate_counts(df):
    return df.groupby('iso_num+year',as_index=False).size()


def prioritise(df, show_version_count, sanity_check):
    temp_df = df.copy()
    temp_df['duplicate_row'] = df.duplicated(['iso_num','year'],keep=False)
    #temp_df['priority_check'] = temp_df['iso_num'].astype('str') + '_' + temp_df['year'].astype('str') + '_' + temp_df['source_prio'].astype('str')  + '_' + temp_df['version_prio'].astype('str') 
    #temp_df['iso_num+year'] = temp_df['iso_num'].astype('str') + '_' + temp_df['year'].astype('str') 
    duplicate_rows_only = temp_df[temp_df['duplicate_row']==True].sort_values(by=['priority_check'],ascending=True,ignore_index=True)
    duplicate_rows_only = duplicate_rows_only.drop_duplicates(subset=['iso_num+year'],keep='first')
    no_duplicate_rows = temp_df[temp_df['duplicate_row']==False].sort_values(by=['priority_check'],ascending=True,ignore_index=True)

    after_dropping = pd.concat([duplicate_rows_only,no_duplicate_rows])

    if show_version_count == True:
        print(after_dropping['version'].value_counts())

    if sanity_check == True:
        iso_year_comb_no = len(set(temp_df['iso_num+year']))
        if len(set(after_dropping['iso_num+year'])) != iso_year_comb_no:
            print('Incorrect iso_num+year count in output')
        elif len(set(after_dropping['iso_num+year'])) == iso_year_comb_no:
            print('Correct iso_num+year count in output')

    return after_dropping

In [897]:
def change_country_years_end_year(df, new_end_year):
    new = df.copy()
    old_end_year = max(df['end_year'])
    new['end_year'].replace(old_end_year,new_end_year,inplace=True)
    return new

def make_country_year_grid(country_years, check_all_iso_nums_in_output, include_iso_num_and_year_column):
    country_year_list = []
    for iso in set(country_years['iso_num']):
        idx = country_years[country_years['iso_num']==iso]['country'].index[0]
        country = country_years[country_years['iso_num']==iso]['country'][idx]
        start_year = country_years[country_years['iso_num']==iso]['start_year'][idx]
        end_year = country_years[country_years['iso_num']==iso]['end_year'][idx]
        region = country_years[country_years['iso_num']==iso]['region'][idx]
        row_list = []

    
        for i in range(start_year, end_year+1):
            new_row = [iso, country, i, region]
            row_list.append(new_row)
        country_year_list.append(pd.DataFrame(row_list,columns=['iso_num','country','year','region']))

        country_year_grid = pd.concat(country_year_list)

    if check_all_iso_nums_in_output == True:
        flag = set(country_year_grid['iso_num'])==set(country_years['iso_num'])
        if flag == True:
            print('All iso nums in output')
        elif flag == False:
            print('Not all iso nums in output.')
            print('Missing:', set(country_year_grid['iso_num']).difference(set(country_years['iso_num'])))
    
    if include_iso_num_and_year_column == True:
        country_year_grid['iso_num+year'] = country_year_grid['iso_num'].astype('str') + '_' + country_year_grid['year'].astype('str') 

    return country_year_grid

In [898]:
updated_country_years = change_country_years_end_year(country_years,2020)
country_year_grid = make_country_year_grid(updated_country_years, True,True)

/var/folders/bz/_s90ln_x2kv849125zgdt7w40000gn/T/ipykernel_99101/776733678.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new['end_year'].replace(old_end_year,new_end_year,inplace=True)

All iso nums in output

In [899]:
country_year_grid=country_year_grid.reset_index(drop=True)

In [900]:
combined_df = create_combined_df('total',True,True,True,True,True)

/var/folders/bz/_s90ln_x2kv849125zgdt7w40000gn/T/ipykernel_99101/3422770340.py:222: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trunc_combined_pop_dataset['pop_source'] = 'combined_pop_data_set'
/var/folders/bz/_s90ln_x2kv849125zgdt7w40000gn/T/ipykernel_99101/3422770340.py:239: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  calculate_gdppc['gdppc'].fillna(calculate_gdppc['gdp']/calculate_gdppc['pop'],inplace = True)
/var/folders/bz/_s90ln_x2kv849125zgdt7w40000gn/T/ipykernel_99101/3422770340.py:239: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  calculate_gdppc['gdppc'].fillna(calculate_gdppc['gdp']/calculate_gdppc['pop'],inplace = True)
/var/folders/bz/_s90ln_x2kv849125zgdt7w40000gn/T/ipykernel_99101/3422770340.py:239: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calculate_gdppc['gdppc'].fillna(calculate_gdppc['gdp']/calculate_gdppc['pop'],inplace = True)
/var/folders/bz/_s90ln_x2kv849125zgdt7w40000gn/T/ipykernel_99101/3422770340.py:240: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  calculate_gdp['gdp'].fillna(calculate_gdp['gdppc'].astype('int')*calculate_gdp['pop'], inplace = True)
/var/folders/bz/_s90ln_x2kv849125zgdt7w40000gn/T/ipykernel_99101/3422770340.py:240: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calculate_gdp['gdp'].fillna(calculate_gdp['gdppc'].astype('int')*calculate_gdp['pop'], inplace = True)

In [901]:
combined_df

,iso_num,year,country_x,pop,pop_source,country_y,iso_num+year,base_year,gdp,source,source_prio,version,version_prio,priority_check,gdppc,duplicate_row
0,4,2000,Afghanistan,19542982.0,combined_pop_data_set,Afghanistan,4_2000,2021.0,3.256738e+10,wdi,3.0,wdi_ppp2,2.0,4_2000_3_2,1666.44865,True
1,4,2000,Afghanistan,19542982.0,combined_pop_data_set,Afghanistan,4_2000,2010.0,3.421740e+11,wdi,3.0,wdi_current_lcu_ppp1,3.0,4_2000_3_3,17508.791647,True
2,4,2000,Afghanistan,19542982.0,combined_pop_data_set,Afghanistan,4_2000,2015.0,3.196119e+10,un,4.0,un_data_ppp,1.0,4_2000_4_1,1635.430689,True
3,4,2001,Afghanistan,19688632.0,combined_pop_data_set,Afghanistan,4_2001,2021.0,2.949563e+10,wdi,3.0,wdi_ppp2,2.0,4_2001_3_2,1498.104567,True
4,4,2001,Afghanistan,19688632.0,combined_pop_data_set,Afghanistan,4_2001,2010.0,3.088790e+11,wdi,3.0,wdi_current_lcu_ppp1,3.0,4_2001_3_3,15688.190017,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255469,728,1955,NaN,NaN,NaN,South Sudan,728_1955,2021.0,NaN,pwt,1.0,pwt_11,1.0,728_1955_1_1,NaN,False
255470,728,1956,NaN,NaN,NaN,South Sudan,728_1956,2021.0,NaN,pwt,1.0,pwt_11,1.0,728_1956_1_1,NaN,False
255471,728,1957,NaN,NaN,NaN,South Sudan,728_1957,2021.0,NaN,pwt,1.0,pwt_11,1.0,728_1957_1_1,NaN,False
255472,728,1958,NaN,NaN,NaN,South Sudan,728_1958,2021.0,NaN,pwt,1.0,pwt_11,1.0,728_1958_1_1,NaN,False
255473,728,1959,NaN,NaN,NaN,South Sudan,728_1959,2021.0,NaN,pwt,1.0,pwt_11,1.0,728_1959_1_1,NaN,False

In [902]:
backbone = 'pwt_11'
base_year = meta_dict[backbone][0]

In [903]:
max_year_in_grid = max(country_year_grid['year'])

In [904]:
combined_df = combined_df[~(combined_df['gdp'].isnull() & combined_df['gdppc'].isnull())] ## drop entries where gdp AND gdppc are both null
combined_df = combined_df[combined_df['year']<=max_year_in_grid] ## drop entries after max in country_year_grid

In [905]:
combined_df[combined_df['iso_num+year'].isin(show_duplicate_counts(combined_df)[show_duplicate_counts(combined_df)['size']>1]['iso_num+year'])]

,iso_num,year,country_x,pop,pop_source,country_y,iso_num+year,base_year,gdp,source,source_prio,version,version_prio,priority_check,gdppc,duplicate_row
0,4,2000,Afghanistan,19542982.0,combined_pop_data_set,Afghanistan,4_2000,2021.0,3.256738e+10,wdi,3.0,wdi_ppp2,2.0,4_2000_3_2,1666.44865,True
1,4,2000,Afghanistan,19542982.0,combined_pop_data_set,Afghanistan,4_2000,2010.0,3.421740e+11,wdi,3.0,wdi_current_lcu_ppp1,3.0,4_2000_3_3,17508.791647,True
2,4,2000,Afghanistan,19542982.0,combined_pop_data_set,Afghanistan,4_2000,2015.0,3.196119e+10,un,4.0,un_data_ppp,1.0,4_2000_4_1,1635.430689,True
3,4,2001,Afghanistan,19688632.0,combined_pop_data_set,Afghanistan,4_2001,2021.0,2.949563e+10,wdi,3.0,wdi_ppp2,2.0,4_2001_3_2,1498.104567,True
4,4,2001,Afghanistan,19688632.0,combined_pop_data_set,Afghanistan,4_2001,2010.0,3.088790e+11,wdi,3.0,wdi_current_lcu_ppp1,3.0,4_2001_3_3,15688.190017,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215863,894,2017,Zambia,17298054.0,combined_pop_data_set,Zambia,894_2017,2011.0,6.050859e+10,mpd,2.0,mpd_2020,2.0,894_2017_2_2,3498,True
215864,894,2018,Zambia,17835893.0,combined_pop_data_set,Zambia,894_2018,2011.0,6.281802e+10,mpd,2.0,mpd_2023,1.0,894_2018_2_1,3522,True
215865,894,2018,Zambia,17835893.0,combined_pop_data_set,Zambia,894_2018,2011.0,6.303205e+10,mpd,2.0,mpd_2020,2.0,894_2018_2_2,3534,True
215866,894,2019,Zambia,18380477.0,combined_pop_data_set,Zambia,894_2019,2011.0,6.370673e+10,mpd,2.0,mpd_2023,1.0,894_2019_2_1,3466,True
215867,894,2020,Zambia,18927715.0,combined_pop_data_set,Zambia,894_2020,2011.0,6.191256e+10,mpd,2.0,mpd_2023,1.0,894_2020_2_1,3271,True

In [906]:
entries_in_backbone_with_gdppc = combined_df[(combined_df['version']==backbone) & ~(combined_df['gdppc'].isnull())] ## first priority: data from backbone AND gdppc is present

set1 = set(entries_in_backbone_with_gdppc['iso_num+year'])

In [907]:
only_one_non_backbone_entry_and_has_gdppc = combined_df[~(combined_df['version']==backbone) & (combined_df['iso_num+year'].isin(show_duplicate_counts(combined_df)[show_duplicate_counts(combined_df)['size']==1]['iso_num+year'])) & ~(combined_df['gdppc'].isnull())] ## take unique entries if gdppc present

set2 = set(only_one_non_backbone_entry_and_has_gdppc['iso_num+year'])

In [908]:
only_one_non_backbone_entry_and_has_gdppc

,iso_num,year,country_x,pop,pop_source,country_y,iso_num+year,base_year,gdp,source,source_prio,version,version_prio,priority_check,gdppc,duplicate_row
985,16,2002,American Samoa,58177.0,combined_pop_data_set,American Samoa,16_2002,2010.0,617713004.4,wdi,3.0,wdi_current_lcu_ppp1,3.0,16_2002_3_3,10617.821551,False
986,16,2003,American Samoa,57941.0,combined_pop_data_set,American Samoa,16_2003,2010.0,623677130.1,wdi,3.0,wdi_current_lcu_ppp1,3.0,16_2003_3_3,10764.003557,False
987,16,2004,American Samoa,57626.0,combined_pop_data_set,American Samoa,16_2004,2010.0,626233183.8,wdi,3.0,wdi_current_lcu_ppp1,3.0,16_2004_3_3,10867.198553,False
988,16,2005,American Samoa,57254.0,combined_pop_data_set,American Samoa,16_2005,2010.0,623677130.0,wdi,3.0,wdi_current_lcu_ppp1,3.0,16_2005_3_3,10893.162574,False
989,16,2006,American Samoa,56837.0,combined_pop_data_set,American Samoa,16_2006,2010.0,598116591.9,wdi,3.0,wdi_current_lcu_ppp1,3.0,16_2006_3_3,10523.366678,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216286,840,1795,NaN,NaN,NaN,United States,840_1795,2006.0,NaN,bu,5.0,bu,1.0,840_1795_5_1,3.24,False
216287,840,1796,NaN,NaN,NaN,United States,840_1796,2006.0,NaN,bu,5.0,bu,1.0,840_1796_5_1,3.22,False
216288,840,1797,NaN,NaN,NaN,United States,840_1797,2006.0,NaN,bu,5.0,bu,1.0,840_1797_5_1,3.11,False
216289,840,1798,NaN,NaN,NaN,United States,840_1798,2006.0,NaN,bu,5.0,bu,1.0,840_1798_5_1,3.04,False
216290,840,1799,NaN,NaN,NaN,United States,840_1799,2006.0,NaN,bu,5.0,bu,1.0,840_1799_5_1,3.08,False

In [909]:
leftovers = combined_df[~combined_df['iso_num+year'].isin(list(set1.union(set2)))]

In [910]:
same_base_year_as_backbone = leftovers[(leftovers['base_year']==base_year) & ~(leftovers['gdppc'].isnull())] ## take data with same base year as backbone

set3 = set(same_base_year_as_backbone['iso_num+year'])

In [911]:
set4 = (set1.union(set2)).union(set3)

In [912]:
set(entries_in_backbone_with_gdppc['iso_num+year']).intersection(set(only_one_non_backbone_entry_and_has_gdppc['iso_num+year']))

set()

In [913]:
set(entries_in_backbone_with_gdppc['iso_num+year']).intersection(set(same_base_year_as_backbone['iso_num+year']))

set()

In [914]:
set(only_one_non_backbone_entry_and_has_gdppc['iso_num+year']).intersection(set(same_base_year_as_backbone['iso_num+year']))

set()

In [915]:
len(set(only_one_non_backbone_entry_and_has_gdppc['iso_num+year']).union(set(entries_in_backbone_with_gdppc['iso_num+year'])).union(set(same_base_year_as_backbone['iso_num+year']))) == len(set(only_one_non_backbone_entry_and_has_gdppc['iso_num+year'])) + len(set(entries_in_backbone_with_gdppc['iso_num+year'])) + len(set(same_base_year_as_backbone['iso_num+year']))

True

In [916]:
new_leftovers = combined_df[~combined_df['iso_num+year'].isin(list(set4))]

In [917]:
new_leftovers = new_leftovers[list(new_leftovers.columns)[:-1]]

In [918]:
new_leftovers = check_duplicates(new_leftovers)

In [919]:
new_leftovers

,iso_num,year,country_x,pop,pop_source,country_y,iso_num+year,base_year,gdp,source,source_prio,version,version_prio,priority_check,gdppc,duplicate_row
2105,31,1989,Azerbaijan,7076550.0,combined_pop_data_set,Azerbaijan,31_1989,2011.0,3.854288e+10,wdi,3.0,wdi_archive3,1.0,31_1989_3_1,5446.563195,True
10567,90,1980,Solomon Islands,233668.0,combined_pop_data_set,Solomon Islands,90_1980,2011.0,2.631887e+08,wdi,3.0,wdi_archive3,1.0,90_1980_3_1,1126.335895,True
10568,90,1980,Solomon Islands,233668.0,combined_pop_data_set,Solomon Islands,90_1980,2015.0,4.257150e+09,un,4.0,un_data_ppp,1.0,90_1980_4_1,18218.798209,True
10569,90,1981,Solomon Islands,241827.0,combined_pop_data_set,Solomon Islands,90_1981,2011.0,2.987178e+08,wdi,3.0,wdi_archive3,1.0,90_1981_3_1,1235.253922,True
10570,90,1981,Solomon Islands,241827.0,combined_pop_data_set,Solomon Islands,90_1981,2015.0,4.399884e+09,un,4.0,un_data_ppp,1.0,90_1981_4_1,18194.343609,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215887,492,1955,NaN,NaN,NaN,Monaco,492_1955,2017.0,3.142863e+08,sc,6.0,sc,1.0,492_1955_6_1,NaN,False
215888,492,1956,NaN,NaN,NaN,Monaco,492_1956,2017.0,3.372565e+08,sc,6.0,sc,1.0,492_1956_6_1,NaN,False
215889,492,1957,NaN,NaN,NaN,Monaco,492_1957,2017.0,3.499758e+08,sc,6.0,sc,1.0,492_1957_6_1,NaN,False
215890,492,1958,NaN,NaN,NaN,Monaco,492_1958,2017.0,3.366152e+08,sc,6.0,sc,1.0,492_1958_6_1,NaN,False
215891,492,1959,NaN,NaN,NaN,Monaco,492_1959,2017.0,3.629078e+08,sc,6.0,sc,1.0,492_1959_6_1,NaN,False

In [920]:
combined_df[combined_df['iso_num+year'].isin(new_leftovers[(new_leftovers['duplicate_row']==False) & ~(new_leftovers['gdppc'].isnull())]['iso_num+year'])].sort_values('iso_num+year')

Empty DataFrame
Columns: [iso_num, year, country_x, pop, pop_source, country_y, iso_num+year, base_year, gdp, source, source_prio, version, version_prio, priority_check, gdppc, duplicate_row]
Index: []

In [921]:
show_duplicate_counts(new_leftovers).sort_values('size',ascending=False)

     iso_num+year  size
781      192_1993    11
778      192_1990    11
4490     630_1987    11
4489     630_1986    11
4488     630_1985    11
...           ...   ...
3254     492_1951     1
3253     492_1950     1
617      184_1966     1
618      184_1967     1
616      184_1965     1

[6466 rows x 2 columns]

In [922]:
rest_with_duplicates = combined_df[(combined_df['iso_num+year'].isin(show_duplicate_counts(new_leftovers)[show_duplicate_counts(new_leftovers)['size']>1]['iso_num+year'])) & ~(combined_df['gdppc'].isnull())]

rest_with_duplicates.sort_values('priority_check')

,iso_num,year,country_x,pop,pop_source,country_y,iso_num+year,base_year,gdp,source,source_prio,version,version_prio,priority_check,gdppc,duplicate_row
107817,100,1870,Bulgaria,2586000.0,combined_pop_data_set,Bulgaria,100_1870,2011.0,3.462654e+09,mpd,2.0,mpd_2023,1.0,100_1870_2_1,1339,True
107818,100,1870,Bulgaria,2586000.0,combined_pop_data_set,Bulgaria,100_1870,2011.0,3.462654e+09,mpd,2.0,mpd_2020,2.0,100_1870_2_2,1339,True
107816,100,1870,Bulgaria,2586000.0,combined_pop_data_set,Bulgaria,100_1870,2011.0,3.775560e+09,mpd,2.0,mpd_2018,3.0,100_1870_2_3,1460,True
107815,100,1870,Bulgaria,2586000.0,combined_pop_data_set,Bulgaria,100_1870,1990.0,2.172240e+09,mpd,2.0,mpd_2013,4.0,100_1870_2_4,840,True
107814,100,1870,Bulgaria,2586000.0,combined_pop_data_set,Bulgaria,100_1870,1990.0,5.616792e+09,mpd,2.0,mpd_2010,5.0,100_1870_2_5,2172,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107584,90,1989,Solomon Islands,314560.0,combined_pop_data_set,Solomon Islands,90_1989,2005.0,5.202822e+08,pwt,1.0,pwt_71,7.0,90_1989_1_7,1654.657837,True
107587,90,1989,Solomon Islands,314560.0,combined_pop_data_set,Solomon Islands,90_1989,2005.0,5.155638e+08,pwt,1.0,pwt_7,8.0,90_1989_1_8,1639.747596,True
107585,90,1989,Solomon Islands,314560.0,combined_pop_data_set,Solomon Islands,90_1989,2005.0,4.907136e+08,pwt,1.0,pwt_63,9.0,90_1989_1_9,1560.622615,True
10585,90,1989,Solomon Islands,314560.0,combined_pop_data_set,Solomon Islands,90_1989,2011.0,4.913948e+08,wdi,3.0,wdi_archive3,1.0,90_1989_3_1,1562.165553,True
10586,90,1989,Solomon Islands,314560.0,combined_pop_data_set,Solomon Islands,90_1989,2015.0,3.250582e+09,un,4.0,un_data_ppp,1.0,90_1989_4_1,10333.743912,True

In [923]:
rest_with_duplicates = rest_with_duplicates.sort_values('priority_check').reset_index(drop=True)

rest_with_duplicates

,iso_num,year,country_x,pop,pop_source,country_y,iso_num+year,base_year,gdp,source,source_prio,version,version_prio,priority_check,gdppc,duplicate_row
0,100,1870,Bulgaria,2586000.0,combined_pop_data_set,Bulgaria,100_1870,2011.0,3.462654e+09,mpd,2.0,mpd_2023,1.0,100_1870_2_1,1339,True
1,100,1870,Bulgaria,2586000.0,combined_pop_data_set,Bulgaria,100_1870,2011.0,3.462654e+09,mpd,2.0,mpd_2020,2.0,100_1870_2_2,1339,True
2,100,1870,Bulgaria,2586000.0,combined_pop_data_set,Bulgaria,100_1870,2011.0,3.775560e+09,mpd,2.0,mpd_2018,3.0,100_1870_2_3,1460,True
3,100,1870,Bulgaria,2586000.0,combined_pop_data_set,Bulgaria,100_1870,1990.0,2.172240e+09,mpd,2.0,mpd_2013,4.0,100_1870_2_4,840,True
4,100,1870,Bulgaria,2586000.0,combined_pop_data_set,Bulgaria,100_1870,1990.0,5.616792e+09,mpd,2.0,mpd_2010,5.0,100_1870_2_5,2172,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33539,90,1989,Solomon Islands,314560.0,combined_pop_data_set,Solomon Islands,90_1989,2005.0,5.202822e+08,pwt,1.0,pwt_71,7.0,90_1989_1_7,1654.657837,True
33540,90,1989,Solomon Islands,314560.0,combined_pop_data_set,Solomon Islands,90_1989,2005.0,5.155638e+08,pwt,1.0,pwt_7,8.0,90_1989_1_8,1639.747596,True
33541,90,1989,Solomon Islands,314560.0,combined_pop_data_set,Solomon Islands,90_1989,2005.0,4.907136e+08,pwt,1.0,pwt_63,9.0,90_1989_1_9,1560.622615,True
33542,90,1989,Solomon Islands,314560.0,combined_pop_data_set,Solomon Islands,90_1989,2011.0,4.913948e+08,wdi,3.0,wdi_archive3,1.0,90_1989_3_1,1562.165553,True
33543,90,1989,Solomon Islands,314560.0,combined_pop_data_set,Solomon Islands,90_1989,2015.0,3.250582e+09,un,4.0,un_data_ppp,1.0,90_1989_4_1,10333.743912,True

In [924]:
rest_with_duplicates_keep_highest_prio = rest_with_duplicates.drop_duplicates(subset=['iso_num+year'],keep='first')

In [925]:
rest_with_duplicates_keep_highest_prio
set5 = set(rest_with_duplicates_keep_highest_prio['iso_num+year'])

In [926]:
set5.intersection(set4)

set()

In [927]:
set6 = set4.union(set5)

In [928]:
only_gdp_available = combined_df[~(combined_df['iso_num+year'].isin(set6))]

In [929]:
final_df_list = [entries_in_backbone_with_gdppc, only_one_non_backbone_entry_and_has_gdppc, same_base_year_as_backbone,rest_with_duplicates_keep_highest_prio]

In [930]:
final = pd.concat(final_df_list)

In [931]:
final = final[list(final.columns)[:-1]]

In [932]:
final

,iso_num,year,country_x,pop,pop_source,country_y,iso_num+year,base_year,gdp,source,source_prio,version,version_prio,priority_check,gdppc
83,8,1970,Albania,2135479.0,combined_pop_data_set,Albania,8_1970,2021.0,7.150000e+09,pwt,1.0,pwt_11,1.0,8_1970_1_1,3348.194948
90,8,1971,Albania,2187853.0,combined_pop_data_set,Albania,8_1971,2021.0,7.429000e+09,pwt,1.0,pwt_11,1.0,8_1971_1_1,3395.566338
97,8,1972,Albania,2243126.0,combined_pop_data_set,Albania,8_1972,2021.0,7.736000e+09,pwt,1.0,pwt_11,1.0,8_1972_1_1,3448.758563
104,8,1973,Albania,2296752.0,combined_pop_data_set,Albania,8_1973,2021.0,8.046000e+09,pwt,1.0,pwt_11,1.0,8_1973_1_1,3503.208009
111,8,1974,Albania,2350124.0,combined_pop_data_set,Albania,8_1974,2021.0,8.385000e+09,pwt,1.0,pwt_11,1.0,8_1974_1_1,3567.896843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33510,90,1985,Solomon Islands,277158.0,combined_pop_data_set,Solomon Islands,90_1985,2000.0,5.920095e+08,pwt,1.0,pwt_62,10.0,90_1985_1_10,2136
33517,90,1986,Solomon Islands,286527.0,combined_pop_data_set,Solomon Islands,90_1986,2000.0,5.853747e+08,pwt,1.0,pwt_62,10.0,90_1986_1_10,2043
33524,90,1987,Solomon Islands,295836.0,combined_pop_data_set,Solomon Islands,90_1987,2000.0,6.079430e+08,pwt,1.0,pwt_62,10.0,90_1987_1_10,2055
33531,90,1988,Solomon Islands,305132.0,combined_pop_data_set,Solomon Islands,90_1988,2000.0,5.968382e+08,pwt,1.0,pwt_62,10.0,90_1988_1_10,1956
33538,90,1989,Solomon Islands,314560.0,combined_pop_data_set,Solomon Islands,90_1989,2000.0,6.813370e+08,pwt,1.0,pwt_62,10.0,90_1989_1_10,2166

In [933]:
to_be_filled = pd.merge(country_year_grid, final, how='left', on=['iso_num+year','iso_num','year'])

In [934]:
to_be_filled = to_be_filled.reset_index(drop=True)

In [935]:
combined_df[combined_df['iso_num+year'].isin(to_be_filled[to_be_filled['gdppc'].isnull()]['iso_num+year'])]

,iso_num,year,country_x,pop,pop_source,country_y,iso_num+year,base_year,gdp,source,source_prio,version,version_prio,priority_check,gdppc,duplicate_row
215870,184,1965,NaN,NaN,NaN,Cook Islands,184_1965,2017.0,8.376759e+07,sc,6.0,sc,1.0,184_1965_6_1,NaN,False
215871,184,1966,NaN,NaN,NaN,Cook Islands,184_1966,2017.0,8.576564e+07,sc,6.0,sc,1.0,184_1966_6_1,NaN,False
215872,184,1967,NaN,NaN,NaN,Cook Islands,184_1967,2017.0,8.864694e+07,sc,6.0,sc,1.0,184_1967_6_1,NaN,False
215873,184,1968,NaN,NaN,NaN,Cook Islands,184_1968,2017.0,9.191292e+07,sc,6.0,sc,1.0,184_1968_6_1,NaN,False
215874,184,1969,NaN,NaN,NaN,Cook Islands,184_1969,2017.0,9.714250e+07,sc,6.0,sc,1.0,184_1969_6_1,NaN,False
215875,316,1953,NaN,NaN,NaN,Guam,316_1953,2017.0,1.302564e+09,sc,6.0,sc,1.0,316_1953_6_1,NaN,False
215876,316,1954,NaN,NaN,NaN,Guam,316_1954,2017.0,1.450000e+09,sc,6.0,sc,1.0,316_1954_6_1,NaN,False
215877,316,1955,NaN,NaN,NaN,Guam,316_1955,2017.0,1.594103e+09,sc,6.0,sc,1.0,316_1955_6_1,NaN,False
215878,316,1956,NaN,NaN,NaN,Guam,316_1956,2017.0,1.771538e+09,sc,6.0,sc,1.0,316_1956_6_1,NaN,False
215879,316,1957,NaN,NaN,NaN,Guam,316_1957,2017.0,2.003333e+09,sc,6.0,sc,1.0,316_1957_6_1,NaN,False
215880,316,1958,NaN,NaN,NaN,Guam,316_1958,2017.0,2.047436e+09,sc,6.0,sc,1.0,316_1958_6_1,NaN,False
215881,316,1959,NaN,NaN,NaN,Guam,316_1959,2017.0,2.110513e+09,sc,6.0,sc,1.0,316_1959_6_1,NaN,False
215882,492,1950,NaN,NaN,NaN,Monaco,492_1950,2017.0,2.412736e+08,sc,6.0,sc,1.0,492_1950_6_1,NaN,False
215883,492,1951,NaN,NaN,NaN,Monaco,492_1951,2017.0,2.633157e+08,sc,6.0,sc,1.0,492_1951_6_1,NaN,False
215884,492,1952,NaN,NaN,NaN,Monaco,492_1952,2017.0,2.628838e+08,sc,6.0,sc,1.0,492_1952_6_1,NaN,False
215885,492,1953,NaN,NaN,NaN,Monaco,492_1953,2017.0,2.732507e+08,sc,6.0,sc,1.0,492_1953_6_1,NaN,False
215886,492,1954,NaN,NaN,NaN,Monaco,492_1954,2017.0,2.921540e+08,sc,6.0,sc,1.0,492_1954_6_1,NaN,False
215887,492,1955,NaN,NaN,NaN,Monaco,492_1955,2017.0,3.142863e+08,sc,6.0,sc,1.0,492_1955_6_1,NaN,False
215888,492,1956,NaN,NaN,NaN,Monaco,492_1956,2017.0,3.372565e+08,sc,6.0,sc,1.0,492_1956_6_1,NaN,False
215889,492,1957,NaN,NaN,NaN,Monaco,492_1957,2017.0,3.499758e+08,sc,6.0,sc,1.0,492_1957_6_1,NaN,False
215890,492,1958,NaN,NaN,NaN,Monaco,492_1958,2017.0,3.366152e+08,sc,6.0,sc,1.0,492_1958_6_1,NaN,False
215891,492,1959,NaN,NaN,NaN,Monaco,492_1959,2017.0,3.629078e+08,sc,6.0,sc,1.0,492_1959_6_1,NaN,False

In [946]:
to_be_filled = to_be_filled.sort_values(['iso_num','year'])
to_be_filled = to_be_filled.reset_index(drop=True)

In [947]:
to_be_filled

,iso_num,country,year,region,iso_num+year,country_x,pop,pop_source,country_y,base_year,gdp,source,source_prio,version,version_prio,priority_check,gdppc
0,4,Afghanistan,1800,e_asia,4_1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,Afghanistan,1801,e_asia,4_1801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,Afghanistan,1802,e_asia,4_1802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Afghanistan,1803,e_asia,4_1803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Afghanistan,1804,e_asia,4_1804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20966,894,Zambia,2016,africa,894_2016,Zambia,16767761.0,combined_pop_data_set,Zambia,2021.0,5.917300e+10,pwt,1.0,pwt_11,1.0,894_2016_1_1,3528.974441
20967,894,Zambia,2017,africa,894_2017,Zambia,17298054.0,combined_pop_data_set,Zambia,2021.0,6.074200e+10,pwt,1.0,pwt_11,1.0,894_2017_1_1,3511.493258
20968,894,Zambia,2018,africa,894_2018,Zambia,17835893.0,combined_pop_data_set,Zambia,2021.0,6.163600e+10,pwt,1.0,pwt_11,1.0,894_2018_1_1,3455.728289
20969,894,Zambia,2019,africa,894_2019,Zambia,18380477.0,combined_pop_data_set,Zambia,2021.0,6.154400e+10,pwt,1.0,pwt_11,1.0,894_2019_1_1,3348.335302
20970,894,Zambia,2020,africa,894_2020,Zambia,18927715.0,combined_pop_data_set,Zambia,2021.0,5.623300e+10,pwt,1.0,pwt_11,1.0,894_2020_1_1,2970.934421

In [978]:
have_data_for_all_years = []
missing_data = []

for iso in set(country_year_grid['iso_num']):
    if len(to_be_filled[(to_be_filled['iso_num']==iso) & ~(to_be_filled['gdppc'].isnull())])== len(to_be_filled[(to_be_filled['iso_num']==iso)]):
        have_data_for_all_years.append(iso)
        #print(iso)
    else:
        missing_data.append([iso, abs(len(to_be_filled[(to_be_filled['iso_num']==iso) & ~(to_be_filled['gdppc'].isnull())])-len(to_be_filled[(to_be_filled['iso_num']==iso)])), len(to_be_filled[(to_be_filled['iso_num']==iso)])])

In [980]:
len(have_data_for_all_years)

118

In [979]:
pd.DataFrame(missing_data, columns=['iso_num','missing','total_needed'])

    iso_num  missing  total_needed
0       512      150           221
1         4      150           221
2         8       35           107
3       524      147           221
4        20      136           207
..      ...      ...           ...
92      484       70           200
93      492       99           160
94      496       26            97
95      499       74           143
96      504      147           221

[97 rows x 3 columns]

In [1015]:
to_be_filled[to_be_filled['iso_num'].isin(pd.DataFrame(missing_data, columns=['iso_num','missing','total_needed'])['iso_num'])]

,iso_num,country,year,region,iso_num+year,country_x,pop,pop_source,country_y,base_year,gdp,source,source_prio,version,version_prio,priority_check,gdppc
0,4,Afghanistan,1800,e_asia,4_1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,Afghanistan,1801,e_asia,4_1801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,Afghanistan,1802,e_asia,4_1802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Afghanistan,1803,e_asia,4_1803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Afghanistan,1804,e_asia,4_1804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20909,891,Yugoslavia,1988,e_europe,891_1988,Yugoslavia,22536000.0,combined_pop_data_set,Yugoslavia,1985.0,2.625676e+15,pwt,1.0,pwt_56,12.0,891_1988_1_12,116510304.0
20910,891,Yugoslavia,1989,e_europe,891_1989,Yugoslavia,22634000.0,combined_pop_data_set,Yugoslavia,1985.0,2.684214e+15,pwt,1.0,pwt_56,12.0,891_1989_1_12,118592140.0
20911,891,Yugoslavia,1990,e_europe,891_1990,Yugoslavia,23016000.0,combined_pop_data_set,Serbia and Montenegro,2000.0,1.017998e+11,pwt,1.0,pwt_62,10.0,891_1990_1_10,4423
20912,891,Yugoslavia,1991,e_europe,891_1991,Yugoslavia,23097000.0,combined_pop_data_set,Serbia and Montenegro,2000.0,9.056334e+10,pwt,1.0,pwt_62,10.0,891_1991_1_10,3921
20913,891,Yugoslavia,1992,e_europe,891_1992,Yugoslavia,22905000.0,combined_pop_data_set,Serbia and Montenegro,2000.0,6.502730e+10,pwt,1.0,pwt_62,10.0,891_1992_1_10,2839

In [969]:
len(have_data_for_all_years)

118

In [981]:
nothing_to_do = []
for iso in have_data_for_all_years:
    if len(to_be_filled[to_be_filled['iso_num']==iso]) == len(to_be_filled[(to_be_filled['iso_num']==iso) & (to_be_filled['base_year']==base_year)]):
        nothing_to_do.append(iso)

In [1016]:
len(nothing_to_do)

78

In [986]:
to_be_filled[(to_be_filled['iso_num'].isin(nothing_to_do))]

,iso_num,country,year,region,iso_num+year,country_x,pop,pop_source,country_y,base_year,gdp,source,source_prio,version,version_prio,priority_check,gdppc
328,12,Algeria,1962,africa,12_1962,Algeria,11778260.0,combined_pop_data_set,Algeria,2021.0,6.686400e+10,pwt,1.0,pwt_11,1.0,12_1962_1_1,5676.899644
329,12,Algeria,1963,africa,12_1963,Algeria,11969451.0,combined_pop_data_set,Algeria,2021.0,7.762400e+10,pwt,1.0,pwt_11,1.0,12_1963_1_1,6485.176304
330,12,Algeria,1964,africa,12_1964,Algeria,12179099.0,combined_pop_data_set,Algeria,2021.0,8.182400e+10,pwt,1.0,pwt_11,1.0,12_1964_1_1,6718.395178
331,12,Algeria,1965,africa,12_1965,Algeria,12381256.0,combined_pop_data_set,Algeria,2021.0,8.909900e+10,pwt,1.0,pwt_11,1.0,12_1965_1_1,7196.281217
332,12,Algeria,1966,africa,12_1966,Algeria,12613389.0,combined_pop_data_set,Algeria,2021.0,7.957200e+10,pwt,1.0,pwt_11,1.0,12_1966_1_1,6308.534526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20966,894,Zambia,2016,africa,894_2016,Zambia,16767761.0,combined_pop_data_set,Zambia,2021.0,5.917300e+10,pwt,1.0,pwt_11,1.0,894_2016_1_1,3528.974441
20967,894,Zambia,2017,africa,894_2017,Zambia,17298054.0,combined_pop_data_set,Zambia,2021.0,6.074200e+10,pwt,1.0,pwt_11,1.0,894_2017_1_1,3511.493258
20968,894,Zambia,2018,africa,894_2018,Zambia,17835893.0,combined_pop_data_set,Zambia,2021.0,6.163600e+10,pwt,1.0,pwt_11,1.0,894_2018_1_1,3455.728289
20969,894,Zambia,2019,africa,894_2019,Zambia,18380477.0,combined_pop_data_set,Zambia,2021.0,6.154400e+10,pwt,1.0,pwt_11,1.0,894_2019_1_1,3348.335302
20970,894,Zambia,2020,africa,894_2020,Zambia,18927715.0,combined_pop_data_set,Zambia,2021.0,5.623300e+10,pwt,1.0,pwt_11,1.0,894_2020_1_1,2970.934421

In [987]:
to_be_filled[to_be_filled['iso_num'].isin(set(have_data_for_all_years) - set(nothing_to_do))]

,iso_num,country,year,region,iso_num+year,country_x,pop,pop_source,country_y,base_year,gdp,source,source_prio,version,version_prio,priority_check,gdppc
916,36,Australia,1901,w_offshoots,36_1901,Australia,3795000.0,combined_pop_data_set,Australia,2011.0,2.322160e+10,mpd,2.0,mpd_2023,1.0,36_1901_2_1,6119
917,36,Australia,1902,w_offshoots,36_1902,Australia,3850000.0,combined_pop_data_set,Australia,2011.0,2.346190e+10,mpd,2.0,mpd_2023,1.0,36_1902_2_1,6094
918,36,Australia,1903,w_offshoots,36_1903,Australia,3896000.0,combined_pop_data_set,Australia,2011.0,2.531231e+10,mpd,2.0,mpd_2023,1.0,36_1903_2_1,6497
919,36,Australia,1904,w_offshoots,36_1904,Australia,3946000.0,combined_pop_data_set,Australia,2011.0,2.701432e+10,mpd,2.0,mpd_2023,1.0,36_1904_2_1,6846
920,36,Australia,1905,w_offshoots,36_1905,Australia,4004000.0,combined_pop_data_set,Australia,2011.0,2.732730e+10,mpd,2.0,mpd_2023,1.0,36_1905_2_1,6825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20159,840,United States,2016,w_offshoots,840_2016,United States,323071755.0,combined_pop_data_set,United States,2021.0,2.113009e+13,pwt,1.0,pwt_11,1.0,840_2016_1_1,65403.699559
20160,840,United States,2017,w_offshoots,840_2017,United States,325122128.0,combined_pop_data_set,United States,2021.0,2.165738e+13,pwt,1.0,pwt_11,1.0,840_2017_1_1,66613.072857
20161,840,United States,2018,w_offshoots,840_2018,United States,326838199.0,combined_pop_data_set,United States,2021.0,2.232646e+13,pwt,1.0,pwt_11,1.0,840_2018_1_1,68310.44862
20162,840,United States,2019,w_offshoots,840_2019,United States,328329953.0,combined_pop_data_set,United States,2021.0,2.289607e+13,pwt,1.0,pwt_11,1.0,840_2019_1_1,69734.953484
20163,840,United States,2020,w_offshoots,840_2020,United States,331526933.0,combined_pop_data_set,United States,2021.0,2.233532e+13,pwt,1.0,pwt_11,1.0,840_2020_1_1,67371.051268

In [989]:
some_data_must_be_spliced = set(have_data_for_all_years) - set(nothing_to_do)

In [1009]:
somewhere_base_year_is_right_isos = []
somewhere_base_year_is_right = []
nowhere_base_year_is_right = []
for iso in some_data_must_be_spliced:
    check = to_be_filled[(to_be_filled['iso_num'] == iso) & (to_be_filled['base_year']==base_year)]
    if  len(check) == 0:
        nowhere_base_year_is_right.append(iso)
    elif len(check) > 0:
        somewhere_base_year_is_right_isos.append(iso)
        somewhere_base_year_is_right.append([iso, list(check['iso_num+year'])])

In [1014]:
len(somewhere_base_year_is_right_isos)

38

In [1026]:
for i in range(len(somewhere_base_year_is_right)):
    print(somewhere_base_year_is_right[i][0], min(somewhere_base_year_is_right[i][1]))

520 520_1990
266 266_1960
528 528_1950
144 144_1950
148 148_1960
276 276_1950
662 662_1970
788 788_1960
410 410_1953
158 158_1951
414 414_1970
418 418_1970
36 36_1950
548 548_1990
296 296_1990
434 434_1990
826 826_1950
706 706_1970
324 324_1959
710 710_1950
583 583_1990
584 584_1990
585 585_1990
328 328_1970
840 840_1950
212 212_1970
598 598_1990
729 729_1970
90 90_1990
352 352_1950
356 356_1950
360 360_1960
748 748_1970
752 752_1950
372 372_1950
630 630_1990
246 246_1950
380 380_1950

In [1027]:
to_be_filled[to_be_filled['iso_num']==520]

,iso_num,country,year,region,iso_num+year,country_x,pop,pop_source,country_y,base_year,gdp,source,source_prio,version,version_prio,priority_check,gdppc
12758,520,Nauru,1966,pacific,520_1966,Nauru,6021.0,combined_pop_data_set,Nauru,2017.0,2.627290e+08,sc,6.0,sc,1.0,520_1966_6_1,43635.434749
12759,520,Nauru,1967,pacific,520_1967,Nauru,6114.0,combined_pop_data_set,Nauru,2017.0,2.653105e+08,sc,6.0,sc,1.0,520_1967_6_1,43393.937132
12760,520,Nauru,1968,pacific,520_1968,Nauru,6288.0,combined_pop_data_set,Nauru,2017.0,2.682237e+08,sc,6.0,sc,1.0,520_1968_6_1,42656.439182
12761,520,Nauru,1969,pacific,520_1969,Nauru,6508.0,combined_pop_data_set,Nauru,2017.0,2.800895e+08,sc,6.0,sc,1.0,520_1969_6_1,43037.71962
12762,520,Nauru,1970,pacific,520_1970,Nauru,6663.0,combined_pop_data_set,Nauru,2017.0,3.182921e+08,sc,6.0,sc,1.0,520_1970_6_1,47770.090294
12763,520,Nauru,1971,pacific,520_1971,Nauru,6778.0,combined_pop_data_set,Nauru,2017.0,3.298500e+08,sc,6.0,sc,1.0,520_1971_6_1,48664.798849
12764,520,Nauru,1972,pacific,520_1972,Nauru,6883.0,combined_pop_data_set,Nauru,2017.0,3.629368e+08,sc,6.0,sc,1.0,520_1972_6_1,52729.45654
12765,520,Nauru,1973,pacific,520_1973,Nauru,6990.0,combined_pop_data_set,Nauru,2017.0,3.683368e+08,sc,6.0,sc,1.0,520_1973_6_1,52694.828251
12766,520,Nauru,1974,pacific,520_1974,Nauru,7096.0,combined_pop_data_set,Nauru,2017.0,3.570158e+08,sc,6.0,sc,1.0,520_1974_6_1,50312.259951
12767,520,Nauru,1975,pacific,520_1975,Nauru,7199.0,combined_pop_data_set,Nauru,2017.0,3.511421e+08,sc,6.0,sc,1.0,520_1975_6_1,48776.512333
12768,520,Nauru,1976,pacific,520_1976,Nauru,7306.0,combined_pop_data_set,Nauru,2017.0,3.308447e+08,sc,6.0,sc,1.0,520_1976_6_1,45283.978026
12769,520,Nauru,1977,pacific,520_1977,Nauru,7441.0,combined_pop_data_set,Nauru,2017.0,3.128447e+08,sc,6.0,sc,1.0,520_1977_6_1,42043.373619
12770,520,Nauru,1978,pacific,520_1978,Nauru,7541.0,combined_pop_data_set,Nauru,2017.0,2.970237e+08,sc,6.0,sc,1.0,520_1978_6_1,39387.838503
12771,520,Nauru,1979,pacific,520_1979,Nauru,7586.0,combined_pop_data_set,Nauru,2017.0,2.723921e+08,sc,6.0,sc,1.0,520_1979_6_1,35907.212063
12772,520,Nauru,1980,pacific,520_1980,Nauru,7635.0,combined_pop_data_set,Nauru,2017.0,2.435684e+08,sc,6.0,sc,1.0,520_1980_6_1,31901.562007
12773,520,Nauru,1981,pacific,520_1981,Nauru,7691.0,combined_pop_data_set,Nauru,2017.0,2.410579e+08,sc,6.0,sc,1.0,520_1981_6_1,31342.855228
12774,520,Nauru,1982,pacific,520_1982,Nauru,7672.0,combined_pop_data_set,Nauru,2017.0,2.410342e+08,sc,6.0,sc,1.0,520_1982_6_1,31417.389904
12775,520,Nauru,1983,pacific,520_1983,Nauru,7832.0,combined_pop_data_set,Nauru,2017.0,2.511947e+08,sc,6.0,sc,1.0,520_1983_6_1,32072.873068
12776,520,Nauru,1984,pacific,520_1984,Nauru,8125.0,combined_pop_data_set,Nauru,2017.0,2.415316e+08,sc,6.0,sc,1.0,520_1984_6_1,29726.964157
12777,520,Nauru,1985,pacific,520_1985,Nauru,8313.0,combined_pop_data_set,Nauru,2017.0,2.148868e+08,sc,6.0,sc,1.0,520_1985_6_1,25849.494335
12778,520,Nauru,1986,pacific,520_1986,Nauru,8527.0,combined_pop_data_set,Nauru,2017.0,2.380737e+08,sc,6.0,sc,1.0,520_1986_6_1,27919.982288
12779,520,Nauru,1987,pacific,520_1987,Nauru,8759.0,combined_pop_data_set,Nauru,2017.0,2.640553e+08,sc,6.0,sc,1.0,520_1987_6_1,30146.736892
12780,520,Nauru,1988,pacific,520_1988,Nauru,9022.0,combined_pop_data_set,Nauru,2017.0,2.772237e+08,sc,6.0,sc,1.0,520_1988_6_1,30727.520478
12781,520,Nauru,1989,pacific,520_1989,Nauru,9306.0,combined_pop_data_set,Nauru,2017.0,2.818895e+08,sc,6.0,sc,1.0,520_1989_6_1,30291.154021
12782,520,Nauru,1990,pacific,520_1990,Nauru,9598.0,combined_pop_data_set,Nauru,2021.0,2.939165e+08,wdi,3.0,wdi_ppp2,2.0,520_1990_3_2,30622.683465
12783,520,Nauru,1991,pacific,520_1991,Nauru,9902.0,combined_pop_data_set,Nauru,2021.0,2.380907e+08,wdi,3.0,wdi_ppp2,2.0,520_1991_3_2,24044.710776
12784,520,Nauru,1992,pacific,520_1992,Nauru,10129.0,combined_pop_data_set,Nauru,2021.0,1.993765e+08,wdi,3.0,wdi_ppp2,2.0,520_1992_3_2,19683.726478
12785,520,Nauru,1993,pacific,520_1993,Nauru,10226.0,combined_pop_data_set,Nauru,2021.0,1.672422e+08,wdi,3.0,wdi_ppp2,2.0,520_1993_3_2,16354.604948
12786,520,Nauru,1994,pacific,520_1994,Nauru,10274.0,combined_pop_data_set,Nauru,2021.0,1.607764e+08,wdi,3.0,wdi_ppp2,2.0,520_1994_3_2,15648.858536
12787,520,Nauru,1995,pacific,520_1995,Nauru,10316.0,combined_pop_data_set,Nauru,2021.0,1.480373e+08,wdi,3.0,wdi_ppp2,2.0,520_1995_3_2,14350.265248
12788,520,Nauru,1996,pacific,520_1996,Nauru,10345.0,combined_pop_data_set,Nauru,2021.0,1.304808e+08,wdi,3.0,wdi_ppp2,2.0,520_1996_3_2,12612.933726
12789,520,Nauru,1997,pacific,520_1997,Nauru,10363.0,combined_pop_data_set,Nauru,2021.0,1.187981e+08,wdi,3.0,wdi_ppp2,2.0,520_1997_3_2,11463.673859
12790,520,Nauru,1998,pacific,520_1998,Nauru,10377.0,combined_pop_data_set,Nauru,2021.0,1.047942e+08,wdi,3.0,wdi_ppp2,2.0,520_1998_3_2,10098.694912
12791,520,Nauru,1999,pacific,520_1999,Nauru,10383.0,combined_pop_data_set,Nauru,2021.0,9.791104e+07,wdi,3.0,wdi_ppp2,2.0,520_1999_3_2,9429.937603
12792,520,Nauru,2000,pacific,520_2000,Nauru,10377.0,combined_pop_data_set,Nauru,2021.0,9.119807e+07,wdi,3.0,wdi_ppp2,2.0,520_2000_3_2,8788.481439
12793,520,Nauru,2001,pacific,520_2001,Nauru,10363.0,combined_pop_data_set,Nauru,2021.0,8.503206e+07,wdi,3.0,wdi_ppp2,2.0,520_2001_3_2,8205.352052
12794,520,Nauru,2002,pacific,520_2002,Nauru,10351.0,combined_pop_data_set,Nauru,2021.0,7.655329e+07,wdi,3.0,wdi_ppp2,2.0,520_2002_3_2,7395.738347
12795,520,Nauru,2003,pacific,520_2003,Nauru,10344.0,combined_pop_data_set,Nauru,2021.0,7.677119e+07,wdi,3.0,wdi_ppp2,2.0,520_2003_3_2,7421.808467
12796,520,Nauru,2004,pacific,520_2004,Nauru,10335.0,combined_pop_data_set,Nauru,2021.0,7.345858e+07,wdi,3.0,wdi_ppp2,2.0,520_2004_3_2,7107.748615
12797,520,Nauru,2005,pacific,520_2005,Nauru,10318.0,combined_pop_data_set,Nauru,2021.0,7.319733e+07,wdi,3.0,wdi_ppp2,2.0,520_2005_3_2,7094.139108
12798,520,Nauru,2006,pacific,520_2006,Nauru,10294.0,combined_pop_data_set,Nauru,2021.0,7.929376e+07,wdi,3.0,wdi_ppp2,2.0,520_2006_3_2,7702.910202
12799,520,Nauru,2007,pacific,520_2007,Nauru,10267.0,combined_pop_data_set,Nauru,2021.0,6.170220e+07,wdi,3.0,wdi_ppp2,2.0,520_2007_3_2,6009.759002
12800,520,Nauru,2008,pacific,520_2008,Nauru,10243.0,combined_pop_data_set,Nauru,2021.0,7.427766e+07,wdi,3.0,wdi_ppp2,2.0,520_2008_3_2,7251.553563
12801,520,Nauru,2009,pacific,520_2009,Nauru,10233.0,combined_pop_data_set,Nauru,2021.0,7.007954e+07,wdi,3.0,wdi_ppp2,2.0,520_2009_3_2,6848.386547
12802,520,Nauru,2010,pacific,520_2010,Nauru,10241.0,combined_pop_data_set,Nauru,2021.0,6.996743e+07,wdi,3.0,wdi_ppp2,2.0,520_2010_3_2,6832.089489
12803,520,Nauru,2011,pacific,520_2011,Nauru,10283.0,combined_pop_data_set,Nauru,2021.0,8.003898e+07,wdi,3.0,wdi_ppp2,2.0,520_2011_3_2,7783.621832
12804,520,Nauru,2012,pacific,520_2012,Nauru,10444.0,combined_pop_data_set,Nauru,2021.0,1.002723e+08,wdi,3.0,wdi_ppp2,2.0,520_2012_3_2,9600.947376
12805,520,Nauru,2013,pacific,520_2013,Nauru,10694.0,combined_pop_data_set,Nauru,2021.0,1.039300e+08,wdi,3.0,wdi_ppp2,2.0,520_2013_3_2,9718.530709
12806,520,Nauru,2014,pacific,520_2014,Nauru,10940.0,combined_pop_data_set,Nauru,2021.0,1.209987e+08,wdi,3.0,wdi_ppp2,2.0,520_2014_3_2,11060.213419
12807,520,Nauru,2015,pacific,520_2015,Nauru,11185.0,combined_pop_data_set,Nauru,2021.0,1.242633e+08,wdi,3.0,wdi_ppp2,2.0,520_2015_3_2,11109.816862
12808,520,Nauru,2016,pacific,520_2016,Nauru,11437.0,combined_pop_data_set,Nauru,2021.0,1.296852e+08,wdi,3.0,wdi_ppp2,2.0,520_2016_3_2,11339.093145
12809,520,Nauru,2017,pacific,520_2017,Nauru,11682.0,combined_pop_data_set,Nauru,2021.0,1.218895e+08,wdi,3.0,wdi_ppp2,2.0,520_2017_3_2,10433.960983
12810,520,Nauru,2018,pacific,520_2018,Nauru,11924.0,combined_pop_data_set,Nauru,2021.0,1.204036e+08,wdi,3.0,wdi_ppp2,2.0,520_2018_3_2,10097.580518
12811,520,Nauru,2019,pacific,520_2019,Nauru,12132.0,combined_pop_data_set,Nauru,2021.0,1.306219e+08,wdi,3.0,wdi_ppp2,2.0,520_2019_3_2,10766.722898
12812,520,Nauru,2020,pacific,520_2020,Nauru,12315.0,combined_pop_data_set,Nauru,2021.0,1.332106e+08,wdi,3.0,wdi_ppp2,2.0,520_2020_3_2,10816.936427

In [999]:
proxy_data_needed = nowhere_base_year_is_right

In [1000]:
to_be_filled[to_be_filled['iso_num'].isin(nowhere_base_year_is_right)]

,iso_num,country,year,region,iso_num+year,country_x,pop,pop_source,country_y,base_year,gdp,source,source_prio,version,version_prio,priority_check,gdppc
4810,192,Cuba,1902,l_america,192_1902,Cuba,1775000.0,combined_pop_data_set,Cuba,2011.0,2.982000e+09,mpd,2.0,mpd_2023,1.0,192_1902_2_1,1680
4811,192,Cuba,1903,l_america,192_1903,Cuba,1837000.0,combined_pop_data_set,Cuba,2011.0,3.229446e+09,mpd,2.0,mpd_2023,1.0,192_1903_2_1,1758
4812,192,Cuba,1904,l_america,192_1904,Cuba,1879000.0,combined_pop_data_set,Cuba,2011.0,3.399111e+09,mpd,2.0,mpd_2023,1.0,192_1904_2_1,1809
4813,192,Cuba,1905,l_america,192_1905,Cuba,1927000.0,combined_pop_data_set,Cuba,2011.0,3.636249e+09,mpd,2.0,mpd_2023,1.0,192_1905_2_1,1887
4814,192,Cuba,1906,l_america,192_1906,Cuba,1979000.0,combined_pop_data_set,Cuba,2011.0,3.785827e+09,mpd,2.0,mpd_2023,1.0,192_1906_2_1,1913
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14045,580,Northern Mariana Islands,2016,pacific,580_2016,Northern Mariana Islands,51133.0,combined_pop_data_set,Northern Mariana Islands,2010.0,1.050154e+09,wdi,3.0,wdi_current_lcu_ppp1,3.0,580_2016_3_3,20537.696869
14046,580,Northern Mariana Islands,2017,pacific,580_2017,Northern Mariana Islands,50729.0,combined_pop_data_set,Northern Mariana Islands,2010.0,1.293482e+09,wdi,3.0,wdi_current_lcu_ppp1,3.0,580_2017_3_3,25497.889412
14047,580,Northern Mariana Islands,2018,pacific,580_2018,Northern Mariana Islands,50304.0,combined_pop_data_set,Northern Mariana Islands,2010.0,1.040487e+09,wdi,3.0,wdi_current_lcu_ppp1,3.0,580_2018_3_3,20683.990597
14048,580,Northern Mariana Islands,2019,pacific,580_2019,Northern Mariana Islands,49858.0,combined_pop_data_set,Northern Mariana Islands,2010.0,9.228686e+08,wdi,3.0,wdi_current_lcu_ppp1,3.0,580_2019_3_3,18509.939793
14049,580,Northern Mariana Islands,2020,pacific,580_2020,Northern Mariana Islands,49587.0,combined_pop_data_set,Northern Mariana Islands,2010.0,6.541297e+08,wdi,3.0,wdi_current_lcu_ppp1,3.0,580_2020_3_3,13191.556858

In [1017]:
len(nowhere_base_year_is_right)

2

In [1004]:
list(to_be_filled[(to_be_filled['iso_num'] == iso) & (to_be_filled['base_year']==base_year)]['iso_num+year'])

['380_1950',
 '380_1951',
 '380_1952',
 '380_1953',
 '380_1954',
 '380_1955',
 '380_1956',
 '380_1957',
 '380_1958',
 '380_1959',
 '380_1960',
 '380_1961',
 '380_1962',
 '380_1963',
 '380_1964',
 '380_1965',
 '380_1966',
 '380_1967',
 '380_1968',
 '380_1969',
 '380_1970',
 '380_1971',
 '380_1972',
 '380_1973',
 '380_1974',
 '380_1975',
 '380_1976',
 '380_1977',
 '380_1978',
 '380_1979',
 '380_1980',
 '380_1981',
 '380_1982',
 '380_1983',
 '380_1984',
 '380_1985',
 '380_1986',
 '380_1987',
 '380_1988',
 '380_1989',
 '380_1990',
 '380_1991',
 '380_1992',
 '380_1993',
 '380_1994',
 '380_1995',
 '380_1996',
 '380_1997',
 '380_1998',
 '380_1999',
 '380_2000',
 '380_2001',
 '380_2002',
 '380_2003',
 '380_2004',
 '380_2005',
 '380_2006',
 '380_2007',
 '380_2008',
 '380_2009',
 '380_2010',
 '380_2011',
 '380_2012',
 '380_2013',
 '380_2014',
 '380_2015',
 '380_2016',
 '380_2017',
 '380_2018',
 '380_2019',
 '380_2020']

In [963]:
def df_by_iso(df,iso):
    return df[df['iso_num']==iso]

In [964]:
df_by_iso(to_be_filled,56)

,iso_num,country,year,region,iso_num+year,country_x,pop,pop_source,country_y,base_year,gdp,source,source_prio,version,version_prio,priority_check,gdppc
1566,56,Belgium,1830,w_europe,56_1830,Belgium,3750000.0,combined_pop_data_set,Belgium,1990.0,1.904250e+10,mpd,2.0,mpd_2010,5.0,56_1830_2_5,5078
1567,56,Belgium,1831,w_europe,56_1831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1568,56,Belgium,1832,w_europe,56_1832,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1569,56,Belgium,1833,w_europe,56_1833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1570,56,Belgium,1834,w_europe,56_1834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1752,56,Belgium,2016,w_europe,56_2016,Belgium,11331422.0,combined_pop_data_set,Belgium,2021.0,5.626490e+11,pwt,1.0,pwt_11,1.0,56_2016_1_1,49653.87398
1753,56,Belgium,2017,w_europe,56_2017,Belgium,11375158.0,combined_pop_data_set,Belgium,2021.0,5.813200e+11,pwt,1.0,pwt_11,1.0,56_2017_1_1,51104.3451
1754,56,Belgium,2018,w_europe,56_2018,Belgium,11427054.0,combined_pop_data_set,Belgium,2021.0,5.786560e+11,pwt,1.0,pwt_11,1.0,56_2018_1_1,50639.12361
1755,56,Belgium,2019,w_europe,56_2019,Belgium,11488980.0,combined_pop_data_set,Belgium,2021.0,6.182040e+11,pwt,1.0,pwt_11,1.0,56_2019_1_1,53808.43208
1756,56,Belgium,2020,w_europe,56_2020,Belgium,11538604.0,combined_pop_data_set,Belgium,2021.0,6.016040e+11,pwt,1.0,pwt_11,1.0,56_2020_1_1,52138.369598

In [956]:
iso = 56 
max(to_be_filled[to_be_filled['iso_num']==iso].index) - min(to_be_filled[to_be_filled['iso_num']==iso].index)+1

191

In [961]:
country_year_grid[country_year_grid['iso_num']==iso]

      iso_num  country  year    region iso_num+year
2868       56  Belgium  1830  w_europe      56_1830
2869       56  Belgium  1831  w_europe      56_1831
2870       56  Belgium  1832  w_europe      56_1832
2871       56  Belgium  1833  w_europe      56_1833
2872       56  Belgium  1834  w_europe      56_1834
...       ...      ...   ...       ...          ...
3054       56  Belgium  2016  w_europe      56_2016
3055       56  Belgium  2017  w_europe      56_2017
3056       56  Belgium  2018  w_europe      56_2018
3057       56  Belgium  2019  w_europe      56_2019
3058       56  Belgium  2020  w_europe      56_2020

[191 rows x 5 columns]

In [937]:
iso = 512

correct_base_year_iso = to_be_filled[(to_be_filled['iso_num']==iso) & (to_be_filled['base_year']==base_year)]

must_be_spliced_iso = to_be_filled[(to_be_filled['iso_num']==iso) & ~(to_be_filled['base_year']==base_year) & ~(to_be_filled['gdppc'].isnull())]

need_proxy_info = to_be_filled[(to_be_filled['iso_num']==iso) & ~(to_be_filled['iso_num+year'].isin(correct_base_year_iso['iso_num+year'])) & ~(to_be_filled['iso_num+year'].isin(must_be_spliced_iso['iso_num+year'])) ]

In [942]:
max(country_year_grid['iso_num'])

894

In [970]:
len(set(country_year_grid['iso_num']))

215